@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Definir estilos generales */
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

html, body{
    margin:0;
    padding:0;
    height:100%;
}

.producto {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.producto:hover {
    background-color: whitesmoke;
    transform: scale(1.03);
}

.nav {
    display: flex;
    justify-content: flex; /* Distribuye los elementos alrededor */
    align-items: center; /* Centra verticalmente */
    background-color: black;
    padding: 20px;
}

h1 {
    color: #da8c3d ;
    font-weight: bold;
}

.img {
    width: 200px;
    height: 200px;
}

.img-logo {
    width: 100px;
    height: auto; /* Ajusta la altura automáticamente */
    margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
}

.footer {
    background-color: black;
    padding: 30px;
    margin-top:200px;
}

.btn {
    background-color: #da8c3d;
    color: black;
    font-weight: bold;
    transition: transform 0.1s ease;
    font-weight: 300;
}

.btn:hover {
    background-color: #da8c3d;
    color: white;
}

.btn:active{
    transform: scale(0.90);
    background-color: blue;
    color:blue;
}

.contenedor {
    margin-top: 50px;
    margin-bottom: 50px;
}

.align-table{
    display: flex;
    justify-content: center;
    margin:20px 0;
}

.align-table td {
    padding: 5px 8px;
}
.align-table .label {
    font-weight: bold;
    text-align: right;
}
.align-table .value {
    text-align: left;
}

.auth-title{
    display: flex;
    justify-content: center;
    margin:30px 0;
    font-size:25px;
    font-weight: bold;
    color:#333333;
}

.auth-hr{
    width: 100%;
    border: 1px solid;
    border-radius:80%;

}
.auth-value{
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size:25px;
    font-weight: bold;
    font-style:italic;
}

.auth-value-subtitle{
    text-align: left;
    margin-top: auto;
    margin-bottom:5px;
    font-weight:600;
}

.value-box{
    height:fit-content;
    margin-top:auto;
}

.check-green {
    color: green;
    margin-right:10px;
}


.col-md-6{
    border:solid lightgray;
    display:flex;
    flex-direction:column;
}

.col-md-4{
    margin-bottom: 100px;
}

input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px; /* Añadimos un margen superior para separarlo del contenido anterior */
}

.menu {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin: 100px 0;
    width: 600px;
}

.menu a:focus,.menu a.active {
    color: gray;
}

.menu a:hover {
    background-color: #e9ecef;
}

.product-link {
    margin:20px 0;
    text-align: center;
}

.product-link a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 30px;
}

.shop-link a {
    display: block;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 25px;
}

.container-dproducto{
    width:fit-content;
}

.container-nav {
    display: flex;
    align-items: center; /* Centra verticalmente */
}

.container-nav h1 {
    color: #da8c3d;
    font-weight: bold;
    margin-left: 10px; /* Ajusta el margen izquierdo según sea necesario */
}

.nav-title{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
}

.nav-divisa{
    display: flex;
    align-items: center;
    margin-top:auto;
}

.nav-divisa form{
    display:flex;
    align-items: center;
    margin-top:auto;
}

.nav-divisa label {
    color: white;
    margin-right: 10px;
}

.nav-divisa select {
    margin-right: 10px;
}

.container-producto{
    width: fit-content;
}

.container-buscador {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    flex: 1; /* Ocupa todo el espacio disponible */
    max-width: 400px; /* Ancho máximo del buscador */
    margin: 0 auto;
    margin-top:auto;
}

.container-buscador input {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 10px;
    border: 2px solid black;
    border-radius: 12px;
    padding: 7px 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.container-buscador input:hover{
    transform: scale(1.03);
}