<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de la Transacción</title>
</head>
<body>
    <h1>{{ resultado }}</h1>
    {% if resultado == "Pago exitoso" %}
        <p>Fecha y Hora de la Transacción: {{ fecha_transaccion }}</p>
        <p>Monto: {{ detalles.amount }}</p>
        <p>Orden de Compra: {{ detalles.buy_order }}</p>
        <p>Token: {{ detalles.token }}</p>
        <!-- Puedes añadir más detalles según lo que recibas en la respuesta -->
    {% else %}
        <p>El pago ha sido rechazado. Por favor, intenta nuevamente.</p>
    {% endif %}
</body>
</html>
